button {
  color: var(--color-text-dark);
  background: var(--color-primary);

  border-radius: 12px;

  font-size: 16px;
  font-weight: 500;
  line-height: 23px;

  padding: 8px 30px;
  border: none;

  cursor: pointer;
  user-select: none;
}

button:active {
  opacity: 0.9;
}

button[disabled] {
  color: var(--color-primary);
  background: var(--color-primary-fade);

  cursor: default;
}

button.small {
  border-radius: 4px;

  font-size: 12px;
  font-weight: normal;
  line-height: 17px;

  padding: 4px 14px;
}
